
.haber-card {
    transition: all 0.3s ease-in-out; 
}

.haber-card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 16px rgba(0,0,0,0.2); 
}


h1 a {  
   text-decoration: none;  
   color: inherit;  
}  

h1 a:hover {  
   text-decoration: underline;  
}